<!DOCTYPE html>
<html>
  <head>
  <title><%= title %></title> <!-- We'll be setting the title of the page to a title varable that we'll pass in inside each template. -->
  <link rel="stylesheet" type="text/css" href="assets/style.css"> <!-- Linking our CSS file (we are about to create) from the assets folder. -->
  </head>
  <body>